:root{
    /*Colors*/
    --yellow:hsl(47, 88%, 63%);
    --white:hsl(0, 0%, 100%);
    --lightGray:hsl(0, 0%, 42%);
    --darkGray:hsl(0, 0%, 7%);
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size: 16px;
}

body{
    background-color: var(--yellow);
}

main{
    background-color: var(--white);
    display: block;
    margin: 12rem auto 1rem;
    padding: 1.5rem;
    width: 24rem;
    height: 33rem;
    border-radius: 5%/4%;
    border: 1px solid var(--darkGray);
    box-shadow: 0.5rem 0.5rem var(--darkGray);
}

#wallpaper{
    border-radius: 5%/4%;
}